*{margin:0; padding:0;}
ul{list-style:none; 
position:fixed;
bottom:50px;
right:50px;
text-align:center;}
ul li{
    margin: 10px;
}
ul li a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.bdm_btn li a{
    background: #000000;
}
a{text-decoration:none; color:#fff;}
video{ max-width: 100%;}
body{
    background-color: #38383a;
}